{% extends 'SeleyaBundle::base_admin.html.twig' %}

{% block content_sidebar %}
	<p>
		<b>Neue Aufzeichnungen</b> sind Aufzeichnungen, die bereits von Matterhorn importiert worden, aber noch nicht mit weiteren Daten versehen worden sind.
	</p>
{% endblock %}
