{% extends 'SeleyaBundle:Admin:Record/base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
{% block headline %}{{ title }}{% endblock %}

{% block content_content %}

{% if records|length == 0 %}
	{{ flash('info', 'Es sind keine Aufzeichnungen vorhanden.', false, true) }}
{% else %}
	<ul class="table">
	{% for record in records %}
		<li>
			<span>{{ record.title }}</span>
			<span class="buttons">
					<a href="{{ path('admin_record_update', { 'id': record.id }) }}" class="btn btn-primary btn-small"><i class="icon-pencil icon-white"></i> {% trans %}Bearbeiten{% endtrans %}</a>
			</span>
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}
