{% extends 'SeleyaBundle::base_admin.html.twig' %}

{% block headline %}{% trans %}Fachbereiche{% endtrans %}{% endblock %}

{% block content_sidebar %}
	<p>
		Bitte beachten Sie, dass beim <b>Löschen</b> eines Fachbereichs ebenfalls <span class="text-error">alle Veranstaltungen</span>,
		die diesem Fachbereich zugeordnet sind, <span class="text-error">gelöscht werden</span>.
		Ebenso werden alle Aufzeichnungen, die den Veranstaltungen zugeordnet sind, gelöscht.
	</p>

{% endblock %}
