{% extends 'SeleyaBundle::base_admin.html.twig' %}

{% block headline %}{% trans %}Fachbereiche{% endtrans %}{% endblock %}

{% block content_sidebar %}
	<p>
		Hier steht ein <span class="text-error">wichtiger Text</span> mit wichtigen Information
		zum <span class="text-info">Anlegen, Bearbeiten und Löschen</span> von <b>Fachbereichen</b>.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
	</p>
{% endblock %}
