{% extends 'SeleyaBundle:Admin:Faculty/base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
{% block headline %}{% trans %}Fachbereich löschen{% endtrans %}{% endblock %}

{% block content_content %}

	{{ flash('error', '<b>ACHTUNG</b> Möchten Sie den Fachbereich "%name%" und alle zugeordneten Aufzeichnungen unwiderruflich löschen?'|trans({ '%name%': faculty.name }), false, true) }}

	<form class="inline" action="{{ path('admin_faculty_delete', { 'id': faculty.id }) }}" method="post">
		<input type="hidden" name="confirmed" value="1" />
		<div class="form-actions">
			<button class="btn btn-danger"><i class="icon-trash icon-white"></i> {% trans %}Fachbereich löschen{% endtrans %}</button>
			<a href="{{ path('admin_faculty') }}" class="btn">{% trans %}Abbrechen{% endtrans %}</a>
		</div>
	</form>
{% endblock %}