body {
    background-image: url('../images/low_contrast_linen.png');
}

.container-content {
    border-radius: 0 0 14px 14px;
    border: 1px solid #c0c0c0;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    margin-top: -22px;
}

.content {
    padding: 30px;
    padding-top: 16px;
}

@media (max-width: 767px) {
    .container-content {
        margin-left: -20px;
        margin-right: -20px;
    }
}
.content > div.page-header {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
    margin: 24px -31px;
    padding: 6px 30px;
    border-bottom: none;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2);
    background-color: #0072a9;
    color: #F0F0F0;
}

.content > div.page-header h2 {
    font-size: 20px;
    line-height: 1em;
}

.sidebar {
    border-left: 5px solid #EEEEEE;
    margin: 0 0 20px;
    padding: 0 0 0 15px;    
}

/*** Navbar ***/

.navbar-inner {
    background-color: #86A841;
    background-image: -moz-linear-gradient(center top, #A1CB4F, #9BC34B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1CB4F), to(#9BC34B));
    background-image: -webkit-linear-gradient(top, #A1CB4F, #9BC34B);
    background-image: -o-linear-gradient(top, #A1CB4F, #9BC34B);
    background-image: linear-gradient(to bottom, #A1CB4F, #9BC34B);
    position: relative;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);    
    border: 0;
}

.navbar .brand, .navbar .nav > li > a {
    color: #005133;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.navbar .nav > li > a:hover, .navbar .nav > li.active > a {
    color: #f0f0f0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.navbar .nav > .active > a:hover {
    background-color: #404040;
    color: #f0f0f0;
}

.navbar .nav .active > a, .navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #404040;
    background-image: none;
} 
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #f0f0f0;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open .caret {
    border-bottom-color: #005133;
    border-top-color: #005133;
}

.navbar .nav li.dropdown .dropdown-toggle:hover .caret, 
.navbar .nav li.dropdown.active .dropdown-toggle .caret {
    border-bottom-color: #f0f0f0;
    border-top-color: #f0f0f0;
}

/*
.dropdown-menu li > a:hover {
    background-color: #86A841;
    background-image: -moz-linear-gradient(center top, #A1CB4F, #9BC34B);
    color: #f0f0f0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
*/
