/*** Globals ***/

@media (min-width: 981px) {
    body {
        padding-top: 60px;
    }
}

.inline {
    display: inline;
    clear: both;
}

.spinner {
    display: inline-block;
    padding-right: 10px;
}

.iconsweets {
    font-family: 'iconSweetsRegular';
    font-size: 2em;
    color: #c0c0c0;
    vertical-align: top;
    width: 1px;    
}

.sort-handle {
    cursor: move;
}

.left-space-small {
    margin-left: 10px;
}

.left-space-medium {
    margin-left: 30px;
}

.bottom-space-small {
    margin-bottom: 10px;
}

a.brand img {
    margin-top: -3px;
}

.clear {
    clear: both;
}

div.spin-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*** Forms ***/

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    height: 11px;
    top: 5px;
    right: 4px;
}

.chzn-container-single .chzn-single {
    border-radius: 4px;
}

/*** Login ***/

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/*** Navigation ***/

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #404040;    
}

/*** Tables ***/

td.column-small {
    width: 15em;
}

/*** Lists ***/

ul.table {
    display: table;
    width: 98%;
    min-width: 80%;
}

ul.table li {
    display: table-row;
}

ul.table li.header {
    font-weight: bold;
}

ul.table li > span {
    display: table-cell;
    padding: 8px;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 18px;
}

ul.table li > span.buttons {
    text-align: right;
}

ul.table li > span:first-child {
    padding-left: 4px;
}

ul.table li:last-child > span
{
    border-bottom: none;
}

ul.table li > span.desc, ul.table li > span.buttons {
    min-width: 6em;
}

ul.table-striped > li:nth-child(2n+1) {
    background-color: #F9F9F9;
}

ul.table li.table-header {
    font-weight: bold;
}

/*** Sort order ***/

div.sort-order {
    font-size: 12px;
    color: #c0c0c0;
}

div.sort-order a {
    color: #7797A8;
    margin-left: 0.3em;
}

div.sort-order span:first-child a {
    margin-left: 0;
}

div.sort-order span.active {
    font-weight: bold;
}

div.sort-order a.active {
    font-weight: bold;
}


