<div class="row-fluid">
	<p>
		<span class="login-widget-label">{% trans %}Angemeldet als{% endtrans %}</span><span class="login-widget-username">{{ user.commonName }}</span>
	</p>
	<p>
		<a href="{{ path('logout') }}" class="btn">Abmelden</a>
	</p>
</div>