{% extends 'SeleyaBundle::base_admin.html.twig' %}

{% block headline %}{% trans %}Metadaten{% endtrans %}{% endblock %}

{% block content_sidebar %}
	<p>
		Hier können weitere <b>Metadaten für Aufzeichnungen</b> definiert werden.
		Die angelegten Metadaten stehen sofort in den Aufzeichnungen bereit und können mit Inhalten gefüllt werden.
	</p>
	<p>
		Um die <b>Reihenfolge der Metadaten</b> zu ändern, bewegen Sie den Eintrag einfach an die gewünschte Stelle.
	</p>
{% endblock %}
