{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
{% extends 'SeleyaBundle::base.html.twig' %}

{% block content %}
<div class="span10 offset1">
    <div class="row-fluid main-border">
        <div class="page-header">
            <h4>{% trans %}Suchergebnis{% endtrans %}</h4>
        </div>
        {% if error == 'tooShort' %}
            <div class="alert alert-error">Der eingegebene Suchbegriff ist zu kurz. Bitte geben Sie mindestens drei Zeichen ein.</div>
        {% elseif records|length == 0 %}
            <div class="alert alert-info">Ihre Suche lieferte kein Ergebnis.</div>
        {% endif %}
        <ul class="record-list-horizontal unstyled">
            {% for record in records %}
                {% set preview = 'previews/' ~ record.externalId ~ '.jpg' %}
                <li>
                    <a href="{{ path('record', { 'id': record.id }) }}">
                        <img src="{{ preview | imagine_filter('record_preview') }}" /><br />
                        <span class="title">{{ record.title }}</span><br />
                    </a>
                    <span class="date">{{ record.recordDate|localizeddate('long', 'none') }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
