{% extends 'SeleyaBundle::base_admin.html.twig' %}

{% block headline %}{% trans %}Veranstaltungen{% endtrans %}{% endblock %}

{% block content_sidebar %}
	<p>
		Veranstaltungen müssen einem Fachbereich zugeordnet werden.
	</p>
	<p>
		Bitte beachten Sie, dass beim <b>Löschen</b> einer Veranstaltung ebenfalls <span class="text-error">alle Aufzeichnungen</span>,
		die dieser Veranstaltung zugeordnet sind, <span class="text-error">gelöscht werden</span>.
	</p>
{% endblock %}
